# AWS Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# DynamoDB Table Names
DYNAMODB_PLAYERS_TABLE=TurfArena-Players
DYNAMODB_TEAMS_TABLE=TurfArena-Teams
DYNAMODB_TOURNAMENTS_TABLE=TurfArena-Tournaments
DYNAMODB_MATCHES_TABLE=TurfArena-Matches
DYNAMODB_PLAYER_STATS_TABLE=TurfArena-PlayerStats
DYNAMODB_TURFS_TABLE=TurfArena-Turfs

# EventBridge
EVENTBRIDGE_BUS_NAME=TurfArena-Events

# Next.js
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Authentication
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
